<div class="row my-pagination">
    <div class="col-xs-12 text-right" data-pag-target="{{ target }}" data-pag-start="{{ from|default('1') }}">

        <strong>{{ from|default('1') }}–{{ to|default(50) }}</strong> z <strong>{{ total|default('0') }}</strong>

        <button type="button" class="btn btn-default btn-pag-prev" aria-label="Prev">
            <span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default btn-pag-next" aria-label="Next">
            <span class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
    </div>
</div>
