{% set title = 'Vitaaaj ty Panko' %}
{% extends "layout.twig" %}

{% block content %}
    
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navigacia</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Odovzdaj.to</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="name">Vitaj {{ user.meno }}, {{ user.rocnik|rome }}. {{ user.kod }}</li>
                    <li><a href="{{ path('logout') }}">Odhlásiť sa</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
    
        <form action="{{ path('zadanie.new') }}" method="post">
                {{ form_widget(form) }}
        </form>

        <h1>Otvorene terminy</h1>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nazov terminu</th>
                    <th>predmet</th>
                    <th>trieda</th>
                    <th>stav</th>
                    <th>trva do</th>
                    <th>ostava</th>
                </tr>
            </thead>
            <tbody>
                {% for zadanie in zadania %}
                <tr>
                    <td>{{ zadanie.nazov }}</td>
                    <td>{{ zadanie.predmet }}</td>
                    <td>{{ zadanie.rocnik|rome }}. {{ zadanie.kod }}</td>
                    <td>{{ zadanie.odovzdanych }}</td>
                    <td>{{ zadanie.cas_uzatvorenia }}</td>
                    <td><span class="zadanie-koniec" data-timestamp="{{ zadanie.cas_uzatvorenia }}"></span></td>
                    <td><a href="{{ path('zadanie.delete', {id: zadanie.id }) }}">Vymazať</a></td>
                    <td><a href="{{ path('zadanie.zip', {id: zadanie.id }) }}">Sťiahnúť</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1>Zatvorene terminy</h1>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nazov terminu</th>
                    <th>predmet</th>
                    <th>trieda</th>
                    <th>stav</th>
                    <th>trva do</th>
                    <th>ostava</th>
                </tr>
            </thead>
            <tbody>
                {% for zadanie in zadaniaZatvorene %}
                <tr>
                    <td>{{ zadanie.nazov }}</td>
                    <td>{{ zadanie.predmet }}</td>
                    <td>{{ zadanie.rocnik|rome }}. {{ zadanie.kod }}</td>
                    <td>{{ zadanie.odovzdanych }}</td>
                    <td>{{ zadanie.cas_uzatvorenia }}</td>
                    <td><span class="zadanie-koniec" data-timestamp="{{ zadanie.cas_uzatvorenia }}"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

{% endblock %}